.textEditor {
  line-height: 34px;
  font-size: 18px;
  padding: 10px;
}

.ProseMirror {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid grey;
  background: white;
  border-radius: 0 0 5px 5px;
  height: 250px;
  overflow-y: scroll;
  line-height: 34px;
  font-size: 18px;
}

.ProseMirror:focus {
  border: none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror strong {
  font-weight: bold;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror ul {
  list-style-type: disc;
}
.ProseMirror ul ul {
  list-style-type: circle;
}
.ProseMirror ol {
  list-style-type: decimal;
}
.ProseMirror ol ol {
  list-style-type: lower-roman;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror h1 {
  font-size: 2em;
}

.ProseMirror h2 {
  font-size: 1.5em;
}

/* .ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
} */

.ProseMirror blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.ProseMirror blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.ProseMirror blockquote p {
  display: inline;
}

.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
/*# sourceMappingURL=petArticle.min.css.map */

.textEditor {
  border-radius: 5px;
  border: 1px solid grey;
}
.menuBar {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menuBar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
  padding: 2px 3px;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}

button.is-active {
  background: rgb(197, 197, 197);
  padding: 2px 3px;
  border-radius: 2px;
}
